<launch>

  <!--node name="baxter_cartesian_control" pkg="baxter_python_cpp" type="baxter_cart_controller.py" respawn="false" output="screen" args="-l right -f effector">
  </node-->
  <!-- Left and right electric gripper params. Set to true to check for collisions for their links -->
  <arg name="right_electric_gripper" default="true"/>
  <arg name="left_electric_gripper" default="true"/>
  <!-- Set the kinematic tips for the left_arm and right_arm move_groups -->
  <arg name="left_tip_name" default="left_gripper"/>
  <arg name="right_tip_name" default="right_gripper"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="robot_description_semantic"
      command="$(find xacro)/xacro.py --inorder $(find baxter_moveit_config)/config/baxter.srdf.xacro
          left_electric_gripper:=$(arg left_electric_gripper)
          right_electric_gripper:=$(arg right_electric_gripper)
          left_tip_name:=$(arg left_tip_name)
          right_tip_name:=$(arg right_tip_name)"/>

  <node name="calibration_with_marker" pkg="automatic_camera_robot_cal" type="crustcrawler_kinect_transformation_mat" output="screen">
        <!--remap from="/joint_states" to="/robot/joint_states"/-->
  </node>

</launch>
